.Toastify__close-button>svg {
  width: 30px !important;
  height: 30px !important;
  margin-left: 140px;
  color: red;
}

.Toastify__toast-theme--light {
  font-size: medium;
}


/* Contenedor principal */

/* Define el tamaño del slider y que las imágenes no se apilen */
.slick-slider {
  width: 100%;
  max-width: 300px;
  /* o lo que quieras */
  margin: 0 auto;
}

.slick-slide img {
  border-radius: 10px;
  height: 30vh;
}

.slick-next:before {
  color: black;
}

.slick-prev:before {
  color: black;
}


.input-busqueda {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.box {
  border: 2px solid black;
  background-color: #EFFAFD;
  width: 70%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 15px;
}

/* Grid de autos */
.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Tarjetas de autos */
.borde {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid black;
}



.titulo {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: x-large;
}

.font-precio {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-style: normal;
  font-size: x-large;
}

.font-subasta {
  color: black;
  font-family: "Markazi Text", serif;
  font-size: x-large;
}

/* Imágenes */
.img-card {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.sub-fin {
  font-size: 1.5rem;
  color: red;
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.oferta-mas-alta {
  color: green;
  font-size: large;
  font-family: "Gruppo", sans-serif;
  font-weight: bold;
  font-style: normal;
}

/* Botones */
.input-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.boton-mas {
  width: 30px;
  height: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}


.btn-ofertar,
.btn-detalle,
.btn-cerrar {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn-ofertar {
  background-color: #007bff;
  color: white;
}

.btn-ofertar:hover {
  background-color: #0056b3;
}

.btn-detalle {
  background-color: gray;
  color: white;
}

.btn-detalle:hover {
  background-color: #444;
}

.btn-cerrar {
  background-color: red;
  color: white;
}

.btn-cerrar:hover {
  background-color: darkred;
}

/* MODAL */
.tu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  /* Efecto de desenfoque */
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.wa {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  transform: translateY(20px);
  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards;
}

body.modal-open {
  touch-action: none;
  overflow: hidden;
}
.modal-overlay-imagen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  touch-action: none;
}

.modal-image-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  position: relative;
  touch-action: pinch-zoom;
  
}


.img-grande {
  width: 100%; 
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(220, 20, 60, 0.9);
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  width: 35px;
  height: 35px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}



@media(max-width:575px) {
  .contenedor {
    display: grid;
    grid-template-columns: auto;
  }

  .box {
    width: 95%;
  }


}

@media(max-width:370px) {
  .borde{
    width: 90% ;
  }
}

@media(max-width:340px) {
  .borde{
    width: 85% ;
  }
}