.mainform{
    padding-top: 10%;
    height: 100vh;
    background-color: black;
}

.custom-swal-button {
    background-color: #4CAF50 !important; /* Color verde */
    color: white !important;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .custom-swal-button:hover {
    background-color: #45a049 !important;
  }

  .boton-swal-error{
    width: 100%;
    background-color: red;
  }
  

.form {
    padding: 20px;
    background: #1e1e2f;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
}

.form h1 {
    margin-bottom: 20px;
    font-size: x-large;
    color: #f8f8f8;
    font-family: "Markazi Text", serif;
}

.form label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #bbb;
    font-family: "Markazi Text", serif;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background: #2a2a3a;
    color: #fff;
    outline: none;
    transition: 0.3s ease;
}

.form input:focus {
    background: #333346;
    border: 1px solid #00adb5;
}

.form button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: black;
    border: none;
    border-radius: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: "Markazi Text", serif;
}

.form button:hover {
    background: #007b7f;
}

.form p {
    margin-top: 10px;
    font-size: 14px;
    color: #ff4d4d;
}

@media(max-width:450px){
    .form{
        width: 90%;
    }
}

