.usuarios-registrados{
    border: 2px solid black;
    background-color: #EFFAFD;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 15px;
}

.usuarios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); /* mínimo 280px, máximo ocupa 1fr */
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
    align-items: start;
}

.usuario-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.usuario-nombre {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 10px;
}

.usuario-card p {
    margin: 5px 0;
    color: #555;
}

.usuario-buttons {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.btn-aprobar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-aprobar.desaprobar {
    background-color: #f39c12;
}

.btn-eliminar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width:575px) {
    .usuarios-registrados {
        width: 95%;
    }
    .usuarios-grid{
        display: grid;
        grid-template-columns: auto;
    }
}
