@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";




* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.main {
  background-color: grey;
  padding-bottom: 10%;
}

.toast-custom {
  font-size: 25px;
  /* Cambia el tamaño de la fuente */
  padding: 20px;
  /* Ajusta el padding */
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  padding: 0;
  margin: 0;
}

label {
  display: block;
}

.form {
  width: 400px;
  margin: 0 auto;
}

.slick-dots li{
  margin-bottom: 15px;
}

textarea {
  resize: none;         /* Evita que el usuario pueda redimensionarlo */
  width: 100%;          /* Que ocupe todo el ancho del contenedor */
  height: 100px;        /* Alto fijo, ajustalo según necesites */
  padding: 0.5rem;      /* Espaciado interno */
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}


input[type="text"],
[type="password"] {
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  width: 50%;
  margin: auto;
  margin-top: 10px;
}

input[type="button"],
button {
  background-color: black;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  color: white;
  width: 50%;
  margin: 2%;
  font-family: "Gruppo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media(max-width:810px) {
  .main {
    height: 100%;
  }
}