*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main{
  background-color: grey;
}
.toast-custom {
  font-size: 25px; /* Cambia el tamaño de la fuente */
  padding: 20px;
   /* Ajusta el padding */
}